# 编译生成的文件
__pycache__
*.pyc
*.pyd
*.so
*.dll

# 日志和配置文件
logs
config.json
result.json
mypy.ini
pytest.ini
/results/

# 开发工具和环境文件
.idea
.vscode
.venv
.ipynb_checkpoints
.run
.mypy_cache
.pytest_cache
.hypothesis/
.pytest_cache/
venv/

# 测试文件
test.py

# 运行时生成的文件
build

# macOS系统文件
.DS_Store

# pytest相关
.tests

# 临时文件
*.tmp
~*
